.about-modal {
  position: fixed;
  display: none;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.85);
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

.about-content {
  background: #022b0a;
  color: white;
  width: 45%;
  max-height: 80%;
  overflow-y: auto;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 15px #00ff55;
  font-family: "Poppins";
}

.about-content h2 {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 700;
  color: #00ff55;
}

.about-content ul {
  margin-left: 25px;
}

.close-about {
  float: right;
  cursor: pointer;
  font-size: 22px;
  color: #00ff55;
  padding: 5px;
}

